<div class="container">
  <h1>Repo Search</h1>

  <form class="form-inline" action="/search" method="post">
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control plaintext"
             id="searchbox" name="query" placeholder="type repo name">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
  </form>
</div>
